h4{
    color: rgb(50, 148, 151);
}
.tb1{
    margin-left: auto;
    margin-right: auto;
}
h4{
    text-align: center;
}
table{
    text-align: center;
}
#r1{
    
    color: white;
    background-color: rgb(158, 98, 70);
}
#b1,#b2,#b3,#b4{
    color: white;
    background-color: rgb(158, 98, 70);
}
#r2{
    background-color: blanchedalmond;
    height: 65px;
}
#r3{
    background-color: blanchedalmond;
    height: 40px;
}
#r4,#r5{
    background-color: blanchedalmond;
}
#sr1{
    height: 40px;
}
